*{padding:0;
margin: 0;}
h1{
	text-align: center;
	font-family: "Harlow Solid Italic";
	padding-bottom: -40px;
	font-size: 40px;
}
h3{
	text-align: center;
	font-family: "Impact";
	padding-top: -40px;
}
body {
	background-image: url(background1.jpg);
	background-size: 100%;

}
.hg{
	color: black;
	width: 100%;
	height: 100px;
	background-color: white;
}
.header {
	height: 70px;
	background: black;
}
.menu{
	float: left;
}
.menu li{
	float: left;
	list-style-type: none;
}
.menu a{
	display: block;
	padding-top: 10px;
	padding-bottom: 20px;
	padding:4px;
	padding-left: 180px;
	text-decoration: none;
	color: white;
	font-family: "Harlow Solid Italic";
	font-size: 34px;
	line-height: 60px;
}
.kotak li{
	float:left;
}
.kotak h3{
	padding-left: 495px;
	font-size: 28px;
	font-weight: bold;
}
.kotak h4{
	padding-left:500px;
	font-size: 28px;
	font-family: "Harlow Solid Italic";
	color: white;
}
.kotak{
	width: 100%;
	height: 700px;
	border-top: 3px solid black;
	padding-top: 20px;
	padding-left: 60px;
}
.makanan1{
	width: 300px;
	height: 350px;
	background-color: #a7a7a7;
	padding: 20px;
	margin :24px;
	opacity:0.9;
}
.makanan1:hover{
	background: gold;
	cursor: pointer;
	transition: 0.3s;
	color: grey;
}
.g1{
	width: 300px;
	height: 250px;
	background-image: url(images.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.g1 h2{
	text-align: center;
	font-size: 25px;
}
.makanan2{
	width: 300px;
	height: 350px;
	background-color: #a7a7a7;
	padding: 20px;
	margin: 24px;
	opacity: 0.9;
}
.makanan2:hover{
	background: gold;
	cursor: pointer;
	transition: 0.3s;
	color: grey;
}
.g2{
	width: 300px;
	height: 250px;
	background-image: url(gbu.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.g2 h2{
	text-align: center;
	font-size: 25px;
}
.makanan3{
	width: 300px;
	height: 350px;
	background-color: #a7a7a7;
	padding: 20px;
	margin: 24px;
	opacity: 0.9;
}
.makanan3:hover{
	background: gold;
	cursor: pointer;
	transition: 0.3s;
	color: grey;
}
.g3{
	width: 300px;
	height: 250px;
	background-image: url(gambar3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.g3 h2{
	text-align: center;
	font-size: 25px;
}

.mtm{
	font-family: "Harlow Solid Italic";
	color: gold; 
	text-align: center;
	margin: -16%;
}
.vst-btn{
	width: 15%;
	height: 55px;
	background: none;
	border: 3px #fff solid;
	border-radius: 15px;
	color: #fff;
	font-family: "Harlow Solid Italic";
	font-size: 30px;
	margin-left: 43%;
	margin-top: 100px;
	cursor: pointer;
}
.vst-btn:hover{
	background: rgba(0,0,0,0.5);
	transition: all 0.3s ease-in-out;
}
.makanan1 h2{
	text-align: center;
}
.makanan2 h2{
	text-align: center;
}
.makanan3 h2{
	text-align: center;
}
.footer{
	font-size: 20px;
	height: 60px;
	width: 100%;
	margin-top:140px;
	padding-top: 20px;
	background-color: #3d3a39;
	text-align: center;
	

}